#map { height: 180px; }

.cardImage {
    width: 150px;
    height: 150px;
}

.company-description {
    width: 500px;
    background-color: rgb(255, 247, 247);
}

.verified {
    height: 15px;
    width: 15px;
}

.license {
    position: absolute;
    top: 200px;
    right: 300px;
}

