body {
    height: 150vh;
    background-color: red;
}
.container {
    display: flex;
    justify-content: flex-end;
  }
  
  .forecast-card {
    border: 20px solid #038af8;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  .forecast-icon {
    width: 50px;
    height: 50px;
  }

  #map { height: 180px; }

.bar li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.3s ease 0s;

}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-image: url();
    background-size: cover;
    background-color: rgb(128, 120, 120);
}

.main-header h1 {
    color: rgb(16, 196, 241);
    font-size: 35px;
}

.bar ul{
    list-style: none;
}

.bar li{
    display: inline-block;
    padding: 0px 20px;
}

.bar li a:hover{
    color: rgb(0, 255, 255);
}

.Search-Bar {
   width: 450px;
   height:50px;
   font-size: 25px;
}

.card {
    width: 400px;
    height: 350px;
    justify-items: center; 
    margin: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}

.card:hover {
    transform: scale(0.9);
}

.cardImage {
    padding-left: 25px;
    padding-top: 10px;
    max-width: 150px;
    max-height: 150px; 
}

#renni {
    width: 150px;
    height: 150px;
}

.grid-2-columns {
    width: 1000px; background-color:rgb(255, 247, 247);
    position: absolute; left: 500px; top: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.company-description { 
    width: 500px; 
    background-color: rgb(223, 61, 61); 
}

.verified {
    height: 20px;
    width: 20px;
}

.license {
    position: absolute;
    top: 200px;
    right: 300px;
}

.html-link-card-h1 {
    height: 50px;

}
 
#cj {
    height: 75px;
    width: auto;

}